<ul class="nav-ul">
    <li class="nav-li"><a href="/">Home</a> </li>
    <li class="nav-li"><a href="/shops">Shop</a> </li>
    <li class="nav-li"> <a href="#Products">Products</a> </li>
    <li class="nav-li"> <a href="#Blog">Blog</a> </li>
    <li class="nav-li"> <a href="#Page">Page</a> </li>
</ul>