.stories{
    min-height: 20vh;
    /* width: 100%; */
    display: flex;
}
.card{
    /* width: 10rem !important; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 2rem;
    min-height: 20rem;
}
.min-vh-x{
    min-height: 70vh;
}