<div class="icon-btn-container">
    <object class="icon-svg" data="/images/svg/search.svg"
        type="image/svg+xml"></object>
    <object class="icon-svg" data="/images/svg/user.svg"
        type="image/svg+xml"></object>
    <object class="icon-svg" data="/images/svg/heart.svg"
        type="image/svg+xml"></object>
    <object class="icon-svg" data="/images/svg/shopping-bag.svg"
        type="image/svg+xml"></object>

</div>