<nav class="navbar">
    <div class="nav-container container">
        <h5 class="nav-logo">Wooden</h5>

        <!-- Advance Templating Partial -->

        <%- include("./nav.ejs", {req, wishlistLength}) %>

        <%- include("./svg_ejs/svg_container.ejs", { wishlistLength}) %>
    </div>

</nav>