<!-- <ul class="nav-ul">
                <li class="nav-li"><a href="/">Home</a> </li>
                <li class="nav-li"><a href="/shops">Shop</a> </li>
                <li class="nav-li"> <a href="#Products">Products</a> </li>
                <li class="nav-li"> <a href="#Blog">Blog</a> </li>
                <li class="nav-li"> <a href="#Page">Page</a> </li>
            </ul> -->

<nav class="navbar">
    <div class="nav-container container">
        <h5 class="nav-logo">Wooden</h5>

        <!-- Advance Templating Partial -->

        <ul class="nav-ul">
            <li class="nav-li"><a href="/">Home</a> </li>
            <li class="nav-li"><a href="/shops">Shop</a> </li>
            <li class="nav-li"> <a href="#Products">Products</a> </li>
            <li class="nav-li"> <a href="#Blog">Blog</a> </li>
            <li class="nav-li"> <a href="#Page">Page</a> </li>
        </ul>

        <div class="icon-btn-container">
            <object class="icon-svg" data="./public/search.svg"
                type="image/svg+xml"></object>
            <object class="icon-svg" data="./public/user.svg"
                type="image/svg+xml"></object>
            <object class="icon-svg" data="./public/heart.svg"
                type="image/svg+xml"></object>
            <object class="icon-svg" data="./public/shopping-bag.svg"
                type="image/svg+xml"></object>

        </div>
    </div>

</nav>