<ul class="nav-ul">
    <li class="nav-li"><a href="/">Home</a> </li>
    <li class="nav-li"><a href="/shop">Shop</a> </li>
    <li class="nav-li"> <a href="/products">Products</a> </li>
    <li class="nav-li"> <a href="/blog">Blog</a> </li>
    <li class="nav-li"> <a href="/contact">Contact</a> </li>
</ul>