#nav-id{
    
    display: flex;
    padding: 10px ;
}
#nav-ul-id{
    display: flex;
    list-style: none;
    color: white;
    
}
#nav-li-id{
    padding: 15px 15px;
}

#header-id{
    width: fit-content;
    min-height: 3em;
    background-color: #2a2a2b;

    position: absolute;
    border: 1px solid #383838;
    border-radius: 0 2em 0 2em;

    top: 0;
    right: 0;

}

.content-nav-box{
    position: relative;
}