

<div class="container " style="min-height: 60vh;">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card" style="border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <div class="card-body p-4 ">
                    <h4 class="mb-4">Login</h4>
                    <form id="login-form">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input
                                id="email"
                                class="form-control"
                                type="email"
                                name="email"
                                placeholder="Enter your email"
                                value="bilalillahi25@gmail.com"
                                required />
                        </div>

                        <div class="mb-3">
                            <label for="password"
                                class="form-label">Password</label>
                            <input
                                id="password"
                                class="form-control"
                                type="password"
                                name="password"
                                placeholder="Enter your password"
                                value="qwerty12"
                                required />
                        </div>

                        <button style="background-color: #ba0f0c; border: 0;"
                            class="btn btn-dark w-100 mt-3"
                            type="submit">Login</button>

                        <p
                            class="w-100 my-2 d-flex  justify-content-center">Or</p>

                        <a style="background-color: #ba0f0c; border: 0;"
                            class="btn btn-dark w-100 mt-3"
                            href="/register">Register</a>

                        <a href="/forgot-password" class="btn my-3  text-dark"
                            style="text-decoration: none; text-align: end;">forgot
                            password?</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('login-form').addEventListener('submit', async (event) => {
        event.preventDefault();

        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        console.log(email,password)

        try {
            const response = await fetch('/api/user/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email, password }),
            });

            

            if (response.ok) {
                const data = await response.json();

                console.log("token here in login form",data.token)
                localStorage.setItem('token', data.token);
                // alert('Login successful!');

                window.location.href = '/shop';
                
            } else {
                const errorData = await response.json();
                // alert('Login failed: ' + errorData.message);
            }
        } catch (error) {
            console.error('Error:', error);
            // alert('An error occurred. Please try again.', error);
        }
    });

    // action="/api/user/login" method="post"
</script>
