

<div class="container " style="min-height: 90vh;">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card" style="border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <div class="card-body p-4 ">
                    <h4 class="mb-4">Login</h4>
                    <form action="/api/user/register" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input
                                id="email"
                                class="form-control"
                                type="email"
                                name="email"
                                placeholder="Enter your email"
                                required />
                        </div>

                        <div class="mb-3">
                            <label for="password"
                                class="form-label">Password</label>
                            <input
                                id="password"
                                class="form-control"
                                type="password"
                                name="password"
                                placeholder="Enter your password"
                                required />
                        </div>

                        <div class="mb-3">
                            <label for="firstname"
                                class="form-label">Firstname</label>
                            <input
                                id="firstname"
                                class="form-control"
                                type="firstname"
                                name="firstname"
                                placeholder="Enter your firstname"
                                required />
                        </div>

                        <div class="mb-3">
                            <label for="lastname"
                                class="form-label">Lastname</label>
                            <input
                                id="lastname"
                                class="form-control"
                                type="lastname"
                                name="lastname"
                                placeholder="Enter your lastname"
                                required />
                        </div>

                        <div class="mb-3">
                            <label for="mobile"
                                class="form-label">Mobile</label>
                            <input
                                id="mobile"
                                class="form-control"
                                type="mobile"
                                name="mobile"
                                placeholder="Enter your number"
                                required />
                        </div>

                        <small id="emailHelpId"
                            class="form-text text-muted"></small>

                        <button style="background-color: #ba0f0c; border: 0;"
                            class="btn btn-dark w-100 mt-3"
                            type="submit">Register</button>

                        <p
                            class="w-100 my-2 d-flex  justify-content-center">Or</p>

                        <a style="background-color: #ba0f0c; border: 0;"
                            class="btn btn-dark w-100 mt-3"
                            href="/login">Login</a>

                        <a href="/forgot-password" class="btn my-2 text-dark"
                            style="text-decoration: none; text-align: end;">forgot
                            password?</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
