<footer class="bg-greyish p-5">

    <div class="d-flex justify-content-between">

        <div class="row">
            <ul class="ul">
                <h3>Wooden</h3>
                <li class="li">Rains HQ, Jens Olsens Vej 13 , <br/>8200 Aarhus N, Denmark</li>
                <li class="li"><span class="t-dark">Email:</span> dowecoshop@gmail.com</li>
                <li class="li"><span class="t-dark">Phone:</span> (+84) 123 567 712</li>
            </ul>
        </div>


        <div class="row">
            <ul class="ul">
                <li class="font-s-b">About Us</li>
                <li class="li">Our Shops</li>
                <li class="li">Contact</li>
                <li class="li">Artists</li>
                <li class="li">Local Giving</li>
                <li class="li">Press</li>
            </ul>
        </div>


        <div class="row">
            <ul class="ul">
                <li class="li" class="font-s-b">Get Help</li>
                <li class="li">Delivery Information</li>
                <li class="li">Terms & Conditions</li>
                <li class="li">Returns & Refunds</li>
                <li class="li">Privacy Notice</li>
                <li class="li">Shopping FAQs</li>
            </ul>
        </div>


        <div class="row w-c">
            <ul class="ul">

            <li class="li" class="font-s-b">Subscribe To Our Newsletter!</li>
            <li class="li">Don't miss the latest news on brands and products…!</li>
            <li class="li">
              <div>
                <input class="input-newsletter" placeholder="Your email.." type="text"> 
                <button class="btn-newsletter" type="submit">Send</button>
              </div>
            </li>

            <li class="li d-flex">
                <a class="circle-icon">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>

                <a class="circle-icon">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>

                <a class="circle-icon">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>

                <a class="circle-icon">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>

            </ul>
        </div>
    </div>


</footer>