*{

margin: 0;
padding: 0;

}

html,body {
    font-family: 'Courier New', Courier, monospace !important;
    overflow-x: hidden !important;
    font-weight: 300 !important;
}

.nav-item {
    padding: 0 10px;
}

.navbar-brand {
    padding-top: 20px;
}

.nav-link:hover {
    color: #26FFC5 !important;
}

.bg-none {
    background-color: transparent;
}

.hero-heading {
    font-size: 4.2rem;
    font-weight: 300 !important;
}



.mouse {
    background: #b8d3ff linear-gradient(transparent 40%, transparent 50%, white 50%, white 100%);
    position: relative;
    width: 38px;
    height: 65px;
    margin: 0 auto;
    border-radius: 6rem;
    background-size: 100% 200%;
    animation: colorSlide 7s linear infinite, nudgeMouse 7s ease-out infinite;
}

.mouse:before {
    width: 34px;
    height: 61px;
    background-color: #121519;
    border-radius: 6rem;
}

.mouse:before,
.mouse:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.mouse:after {
    background-color: white;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 100%;
    animation: trackBallSlide 2s linear infinite;
}

.landing{
    margin-top: 1.25rem;
    color: white;
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .375rem;
    text-indent: 0.375rem;
    animation: textColor 5s ease-out infinite, moveText 5s ease-out infinite;
}

.pt-20perc{
    padding-top: 16%;
}




.circles-group{
    position: relative;
    height: 100%;
    width: 100%;
    transform: translate3d(0px, -400px, 0px);
    /* overflow: visible; */
}

.circle{
    position: absolute;
    width: 80%;
    margin: 10%;
    height: 100px;
    border-radius: 100%;
    box-shadow: 150px 100px 30px -100px #1f1f1f ;
}

.circle>img{
    display: block;
    width: 100%;
}

.circle:nth-child(1){
    top: 0;
    left: 0;
    transform: translate3d(40%,20%,0);
    box-shadow: 200px -150px 50px -200px #2c333e ;
    
}
.circle:nth-child(2){
    width: 90%;
    left: 0;
    right: 0;
    bottom: 0;
    /* margin: auto; */
    transform: translate3d(-6%, 250px, 0px) 

}
.circle:nth-child(3){ /*1 now */
    top: 0;
    right: 0;
    transform: translate3d(-40%, -10px, 0px) 
}










@keyframes textColor {
    0%, 40% , 70%{
        color: rgb(65, 65, 65)
    }
    20%, 50%, 90%{
        color: rgb(233, 233, 233);
    }
    
}

@keyframes moveText {
    /* 0%,20%,40%,60%,80% */
    0%,
    30%,
    60%,
    90% 
    {
        transform: translateY(0);
    }
    /* 30%,50%,70%,90% */
    20%,
    50%,
    80% 
   {
        transform: translateY(2px);
    }
    
}

@keyframes colorSlide {
    0% {
        background-position: 0% 100%;
    }

    20% {
        background-position: 0% 0%;
    }

    21% {
        background-color: #2c333e;
    }

    29.99% {
        background-color: white;
        background-position: 0% 0%;
    }

    30% {
        background-color: #2c333e;
        background-position: 0% 100%;
    }

    50% {
        background-position: 0% 0%;
    }

    51% {
        background-color: #2c333e;
    }

    59% {
        background-color: white;
        background-position: 0% 0%;
    }

    60% {
        background-color: #2c333e;
        background-position: 0% 100%;
    }

    80% {
        background-position: 0% 0%;
    }

    81% {
        background-color: #2c333e;
    }

    90%,
    100% {
        background-color: white;
    }

}

@keyframes nudgeMouse {

    0%,
    30%,
    60%,
    90% {
        transform: translateY(0);
    }

    20%,
    50%,
    80% {
        transform: translateY(8px);
    }

}

@keyframes trackBallSlide {
    0% {

        transform: scale(1) translateY(-20px);
        opacity: 0;
    }

    25% {

        transform: translateY(-10px);
        opacity: 0.3;
    }

    50% {

        transform:  translateY(0);
        opacity: 0.7;
    }

    75% {

        transform: translateY(10px);
        opacity: 1;
    }

    100% {
        transform: translateY(20px);
        opacity: 0;
        
    }

}



/* 
.here{
    margin: 0 auto;
    background-color: #898989;
    width: 30px;
    height: 40px;
    position: relative;
    background-size: 100%;
    border-radius: 10%;
    animation: trackBallSlide 4s infinite ease-in-out ;

}

.here:before{
    
    background-color: #959595;
    width: 20px;
    height: 30px;
    animation: colorSlide 4s infinite ease-in-out ;
}
.here:after{
    
    background-color: #d5d5d5;
    width: 10px;
    height: 20px;
    animation: nudgeMouse 4s infinite ease-in-out ;
}
.here:before, .here:after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 10%;
    
}




.laptop_screen{
    background-color: rgb(30, 30, 30);
    position: relative;
    width: 500px;
    height: 250px;
    border-radius: 1rem;
}

.laptop_screen::after{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: '';
    margin: auto;  
}

.laptop_screen::after{
    width: 95%;
    height: 95%;
    background-color: #b8d3ff;
    border-radius: 1rem;
} */ 
