<div class="sidebar">
    <div class="sidebar-header">APPLICATION</div>
    <ul class="sidebar-menu">
        <li><a href="#">Dashboard</a></li>
        <li class="submenu">
            <a href="#">Catalog ></a>
            <ul class="submenu-list">
                <li><a href="#" id="product-list-link">Products List</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Categories List</a></li>
                <li><a href="#">Category</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#">Customers ></a>
            <ul class="submenu-list">
                <li><a href="#">Customers List</a></li>
                <li><a href="#">Customer</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#">Orders ></a>
            <ul class="submenu-list">
                <li><a href="#">Orders List</a></li>
                <li><a href="#">Order Details</a></li>
            </ul>
        </li>
        <li><a href="#">Marketing</a></li>
        <li><a href="#">Inbox</a></li>
        <li><a href="#">Chat <span class="badge">8</span></a></li>
        <li><a href="#">File Manager</a></li>
        <li><a href="#">Calendar</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Settings</a></li>
    </ul>
</div>
