<!-- <div class="icon-btn-container">
    <object class="icon-svg" data="/images/svg/search.svg"
        type="image/svg+xml"></object>
    <object class="icon-svg" data="/images/svg/user.svg"
        type="image/svg+xml"></object>
    <object class="icon-svg" data="/images/svg/heart.svg"
        type="image/svg+xml"></object>
    <object class="icon-svg" data="/images/svg/shopping-bag.svg"
        type="image/svg+xml"></object>

</div> -->

<div class="icon-btn-container">
    <img class="icon-svg" src="/images/icon_png/search.png" />
    <img class="icon-svg" src="/images/icon_png/person.png" />
    <img class="icon-svg" src="/images/icon_png/favourite.png" />
    <img class="icon-svg" src="/images/icon_png/cart.png" />

</div>