

<ul class="nav-ul">
    <li class="nav-li"><a href="/">Home</a> </li>
    <li class="nav-li"><a href="/shop">Shop</a> </li>

    <li class="nav-li"> <a href="/blogs">Blog</a> </li>
    <li class="nav-li"> <a href="/contact">Contact</a> </li>

    <% if (!req.session.user){%>

    <li id="login" class="req-user nav-li"> <a href="/login">LOGIN</a> </li>
    <li id="register" class="req-user nav-li"> <a href="/register">REGISTER</a>
    </li>
    <%} else{ %>
    <li id="name" class="req-user nav-li"> <a href="/">Hi, <%=
            req.session.user.firstname%> </a>
    </li>
    <li id="logout" class="req-user nav-li"> <a
            href="/api/user/logout">LOGOUT</a>
    </li>
    <% }%>

</ul>

<script>
    document.addEventListener("DOMContentLoaded", ()=>{
        let req_user_li = document.getElementsByClassName("req-user")
        // const reqs = `<% req %>`


        if(window.location.pathname === '/'){
        console.log("Path /? ", window.location.pathname)
        

        // req_user_li.forEach((element) => {
        //     element.style.display = "none"
        // });

        for (let i= 0 ; i < req_user_li.length; i++ ){
            req_user_li[i].style.display = "none"
        }
        // req_user_li.style.display = "none"
        }
        // if(!(req.headers['authorization']?.split(' ')[1])){
        //     document.getElementById("login").style.display = "none"
        //     document.getElementById("register").style.display = "none"
        // }else{
        //     document.getElementById("name").style.display = "none"
        //     document.getElementById("logout").style.display = "none"
        // }


        // else{
        //     console.log("Path", window.location.pathname)

        //     const token = localStorage.getItem("token")

        //     if(!token){
        //         console.log("TPath", window.location.pathname)
        //         for (let i= 0 ; i < req_user_li.length; i++ ){
        //             req_user_li[i].style.display = (i>=2) ? "block": "none"
        //         }
        //     }else{console.log("NtPath", window.location.pathname)
                
        //         for (let i= req_user_li.length ; i >-1 ; i++ ){
        //             req_user_li[i].style.display = (i<=2) ? "block": "none"
        //         }
        //     }
        // }
    } )
  
</script>