@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;

}

body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.prm-xl-g{
    background-color: #d0ded8 !important;
}
.prm-l-g{
    background-color: #85aa9b !important;
}
.prm-m-g{
    background-color: #588b76 !important;
}
.prm-d-g{
    background-color: #18392b !important;
}


.min-vh-80{
    min-height: 80vh;
}


.min-vh-60{
    min-height: 60vh;
}

.navbar{
    overflow: unset;
}

.navbar.scrolled{
    background-color: #fafafa !important;
    transition: background-color 400ms linear;
}
.nav-container.scrolled-pad-less{
    padding: 1rem !important;
    transition: padding 400ms linear;
}

.nav-link{
    color:rgb(17, 17, 17);
}

.active{
    color: #B194D6 !important;
}
.btn-contact{
    color: #B194D6 !important;
}
.w-80{
    width: 80px;
}
.w-100{
    width: 100%;
}
.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
    }
.bg-l-grey{
    background-color: #FAFAFA;
}

.s{
    grid-auto-flow: column;
    column-gap: 2%;
    padding: 2%;
}

.sec1{
    /* background-color: #FCF6DE !important;  */
    /* background-image: linear-gradient(#FCF6DE,#B194D6); */
    /* background-image: linear-gradient(to right,#B194D6,#FCF6DE); */
    background-image: linear-gradient(30deg,#B194D6 17.25%,#FCF6DE 48.725%);

}

.sec2{
    /* background-color: rgb(22, 22, 22) !important; */
    background-image: linear-gradient(rgb(22, 22, 22) 90%,rgb(255, 255, 255) 10%);
    color: white;
}
.sec4{
    background-image: linear-gradient(30deg,rgb(22, 22, 22) 90%,rgb(255, 255, 255) 10%);
}
.sec5{
    
    background-color: #d6d4d4;

}