/* .bg-whitish{
    background-color: #DBEFFE;
} */


html,body{
    /* background-color: #DBEFFE; */
    /* background-color: #d0ded8; */
    /* background-color: #474A4B; */
    /* background-color: #DADDDE; */
    background-color: #ffffff;
    
    
}

section{
    background-color: transparent !important; 

}


.hero-h1{
    font-size: 4rem;
    line-height: 6rem;
    /* font-weight: 0; */
}
.pl-1{
    padding-left: 1rem;
}

.circle{
    width: 4rem;
    height: 4rem;
    background-color: rgb(46, 46, 46);
    border: 1px solid white;
    border-radius: 100%;
    top: 0;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img{
    width: 80%;
    height: 80%;
    object-fit: contain;
    
    
}

.circle-container{
    width: 100%;
    height: 80px; 
}
.circle:nth-child(2){
    left: 2.5rem;
}
.circle:nth-child(3){
    left: 5rem;
}
.circle:nth-child(4){
    left: 7.5rem;
}
.circle:nth-child(5){
    left: 10rem;
}


.btns-hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-hero{
    
    background-color: #B194D6 !important;
    color: white !important;
    
    padding:  1rem 1.5rem;
    width: 60%;

    
}

.btn-review{
    background-color: rgb(255, 246, 230) !important;
    /* background-color: rgb(255, 189, 76) !important; */
    color: rgb(180, 180, 180);
    width: 30%;

}


.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    
}
.card-container{
    width: 85%;
    margin: 5% 0 ;
}
.card-img{
    width: 100%;
    height: auto;
    margin-bottom: 2%;
    border-radius: 25%;
}
.card-h3{
    padding: 2% 0;
}
.card-p{
    padding: 2% 0;
}

