/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

.section-90vh {
    min-height: 90vh;
    /* height: auto; */
    width: 100%;
}




/* Other shortcuts START */

.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}


.start-center-div{
    display: flex;
    justify-content: center;
    align-items: start;
}


.width10perc{
    width: 20%;
}

.flex{
    display: flex;
}
.padding5px{
    padding: 5px;
}
.margin20px{
    margin:  10px 20px;
}
.margin1010px{
    margin:  10px 5px;
}

.margin30px{
    margin:  10px 30px;
}
.width80perc{
    width: 80%;
}

.border-grey-1px{
    border: 1px solid grey;
}