

/* Nav Start */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #1f1f1f;
    min-height: 10px;
    
}

.nav_ul {
    list-style: none;
    display: flex;
}

.nav_li {
    margin: 8px 16px;
    color: white;
    cursor: pointer;
}

.nav_li:hover {
    color: grey;
}

.name{
    color: white;
    margin: 10px 20px ;
    cursor: pointer;
}




/* Nav End */