@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

html,body{
    height: 100%;
    width: 100%;
}


.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}


.start-center-div{
    display: flex;
    justify-content: center;
    align-items: start;
}


.width10perc{
    width: 20%;
}

.flex{
    display: flex;
}
.padding5px{
    padding: 5px;
}
.margin20px{
    margin:  10px 20px;
}

.margin30px{
    margin:  10px 30px;
}
.width80perc{
    width: 80%;
}