.file{
    border: 1px solid grey;
    width: 60%;
    min-height: 60vh;
    margin: 20px;
    border-radius: 1%;

}

.flex-direction-row{
    display: flex;
    flex-direction: row;
}
.flex-direction-column{

    display: flex;
    flex-direction: column;
}


.left-block{
    width: 35%;
    padding: 10px ;
    padding-left: 20px;
    background-color: #ededed;
    border-radius: 2%;
}

.right-block{
    width: 65%;
}




.crendential-holder{
    width: 100%;
    height: auto;
    margin: 2%;
}
.my-img{
    width: 80%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* object-fit: fill; */
    
}
.my-img-holder{
    margin: 10px;
    width: 100%;
    height: 200px;
}
.name-h3{
    font-size: 1.6rem;
}
.designation-h4{
    font-size: 1rem ;
}

.contact-info-h6{
    font-size: 0.8rem;
    
}

.fa-contact-info{
    display: flex;
    align-items: center;
    padding: 1%;
    margin: 2% 0;
}

.contact-icon{
    margin: 2%;
}

.contact-info-a{
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
}


.profile-box{
    padding: 10px;
}
.heading-h3{
    font-size: 1.2rem;
    /* padding: 0 10px; */
}

.profile-para{
    font-size: 0.8rem;
    padding: 10px 0;
}

.hr-margin{
    margin-top: 2px;
    margin-left: 10px;
    border-top: 1px solid red;
}
.hr-proj{
    border-top: 1px solid red;
    width: 25%;
}

.skills-box{
    padding: 10px;
}

.skills-list{
    font-size: 0.8rem;
    display: list-item;
    margin: 10px 10px;
}

/* .skills-ul{
    padding: 10px 0;
} */





.round{
    position: relative;
    display: block;
    width: 12px;
    height: 12px;
    background-color: rgb(41, 41, 41);
    border-radius: 50%;
    margin-top: .25rem;
}

.line{
    display: block;
    width: 2px;
    height: 100%;
    background-color: rgb(41, 41, 41);
    transform: translate(5px,0);
}

.heading-subject{
    font-size: 0.9rem;
}
.heading-university{
    font-size: 0.75rem;
}
.heading-date{
    font-size: 0.75rem;
}


.interest-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.interest-heading{
    font-size: 0.7rem;
}




.href-a-contact{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.repo{
    color: rgb(92, 92, 92);
    margin-top: -1%;
}
.relative{
    position: relative;
    
}
.absolute-r{
    position: absolute;
    right: 0;
}